.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .flex.row.reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
  .flex.col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .flex.col.reverse {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
  .flex.nowrap {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
  .flex.wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .flex.wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse; }
  .flex.justify-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flex.justify-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flex.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex.justify-space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .flex.justify-space-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .flex.align-items-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
  .flex.align-items-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end; }
  .flex.align-items-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .flex.align-items-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline; }
  .flex.align-items-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
                -ms-grid-row-align: stretch;
            align-items: stretch; }
  .flex.align-content-start {
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start; }
  .flex.align-content-end {
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end; }
  .flex.align-content-center {
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
  .flex.align-content-space-between {
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between; }
  .flex.align-content-space-around {
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around; }
  .flex.align-content-stretch {
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch; }
  .flex .item.align-auto {
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto; }
  .flex .item.align-start {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .flex .item.align-end {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .flex .item.align-center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .flex .item.align-baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline; }
  .flex .item.align-stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch; }
