// child item styles
@mixin item-styles($prefix, $minWidth) {
  @media (min-width: $minWidth) {
    &.#{$prefix}none {
      flex: none;
    }

    // individual item alignment classes
    &.#{$prefix}align- {
      &auto {
        align-self: auto;
      }
      &start {
        align-self: flex-start;
      }
      &end {
        align-self: flex-end;
      }
      &center {
        align-self: center;
      }
      &baseline {
        align-self: baseline;
      }
      &stretch {
        align-self: stretch;
      }
    }

    // .item.order-x
    @for $i from 1 through 12 {
      &.#{$prefix}order- {
        &#{$i} {
          order: $i;
        }
      }
    }

    @for $i from 0 through 12 {
      &.#{$prefix}grow-#{$i} {
        flex-grow: $i;
      }
      &.#{$prefix}shrink-#{$i} {
        flex-shrink: $i;
      }
    }
  }
}

.flex {
  // in rows the min-width is set to 0 for browser support
  &.row {
    > .item {
      min-width: 0;
    }
  }
  // in columns the min-height is set to 0 for browser support
  &.col {
    > .item {
      min-height: 0;
    }
  }

  &.row, &.col {
    > .item {
      // default behavior is to grow or shrink as necessary
      flex: 1 1 auto;
      @include item-styles('', 0);
      @include item-styles('xs-', $xs-screen-width);
      @include item-styles('sm-', $sm-screen-width);
      @include item-styles('md-', $md-screen-width);
      @include item-styles('lg-', $lg-screen-width);
      @include item-styles('xl-', $xl-screen-width);
    }
  }
}