// child item styles
@mixin item-styles($prefix, $minWidth) {
  @media (min-width: $minWidth) {
    &.#{$prefix}none {
      flex: none;
    }

    // individual item alignment classes
    &.#{$prefix}align- {
      &auto {
        align-self: auto;
      }
      &start {
        align-self: flex-start;
      }
      &end {
        align-self: flex-end;
      }
      &center {
        align-self: center;
      }
      &baseline {
        align-self: baseline;
      }
      &stretch {
        align-self: stretch;
      }
    }

    // .item.order-x
    @for $i from 1 through 12 {
      &.#{$prefix}order- {
        &#{$i} {
          order: $i;
        }
      }
    }

    @for $i from 0 through 12 {
      &.#{$prefix}grow-#{$i} {
        flex-grow: $i;
      }
      &.#{$prefix}shrink-#{$i} {
        flex-shrink: $i;
      }
    }
  }
}

.flex {
  &.row {
    > .item {
      flex: 1 1 auto;
      min-width: 0;
    }
  }
  &.col {
    > .item {
      flex: 1 1 auto;
      min-height: 0;
    }
  }

  > .item {
    @include item-styles('', 0);
    @include item-styles('sm-', 768px);
    @include item-styles('md-', 992px);
    @include item-styles('lg-', 1200px);
  }
}